<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
	<appSettings>
		<add key="UserAgnet" value="Mozilla/5.0 (iPhone; CPU iPhone OS 15_0 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
</configuration>